* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #15171a;
  color: #FFF;
  width: 100%;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.home-container,
.admin-container {
  background: linear-gradient(-45deg, #ee76525e, #e73c7e3b, #23a5d562, #23d5ab70);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}